<div class="col-xs-4 col-xs-offset-3">
  <h1>Task name</h1>
  <p>Task Name = <%= @task.name %></p>
  <p>Task Description = <%= @task.description %></p>
  <div class="btn btn-info">
    <%= link_to "Back to Tasks List", tasks_path %>
  </div>
</div>
